DB_URL = file:database/local.db          # location of local database
DB_AUTH_TOKEN =                          # you can leave this empty for local development
DB_VISITS_AUTH_TOKEN =                   # you can leave this empty for local development
DB_VISITS_URL = file:database/visits.db  # location of local database with site visits
GITHUB_PRIVATE_KEY =                     # you can leave this empty for local development
REDIS_URL =                              # you can leave this empty for local development