# When cloning the repository, copy this file as .env
# For getting started, you don't need to change any values

APP_DB_URL=file:databases/app/app.db
APP_DB_AUTH_TOKEN=

REDIS_URL=redis://127.0.0.1:6379

PUBLIC_PLAYWRIGHT=

ADMIN_PAGE_PASSWORD=test
GITHUB_PRIVATE_KEY=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
ENABLE_EMAILS=false
APPROVAL_EMAIL=