DB_URL = file:database/local.db  # location of local database
DB_AUTH_TOKEN =                  # you can leave this empty for local development
DB_HTTP_URL =                    # you can leave this empty for local development
DB_AUTH_TOKEN_HTTP =             # you can leave this empty for local development
INTERNAL_API_KEY =               # you can leave this empty for local development
LOG_DETAILS = true               # determines if the deduction script logs details