node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Notes for developer
todo.txt
thoughts.txt

# Local databases
database/*.db
database/*.db-wal
database/*.db-shm
database_visits/*.db
database_visits/*.db-wal
database_visits/*.db-shm