node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Notes for developer
todo.txt
thoughts.txt

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
