:root {
	--bg-color: white;
	--text-color: #222;
	--secondary-text-color: #777;
	--heading-color: teal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--secondary-text-color);
}

h1,
h2,
h3 {
	line-height: 1.2;
	color: var(--heading-color);
}

h2,
h3 {
	font-weight: 500;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--text-color: #fff;
		--heading-color: rgb(204, 206, 67);
		--secondary-text-color: #aaa;
	}
}
