@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/DMMono-Regular.woff2') format('woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--bg-color: #fff;
	--secondary-bg-color: #eee;
	--text-color: #111;
	--secondary-text-color: #555;
	--outline-color: #666;
	--secondary-outline-color: #aaa;
	--accent-color: #375886;
	--heading-color: #000;
	--button-color: #375886;
	--button-text-color: #fff;
	--success-color: #079307;
	--error-color: #ff0000;
	--shadow-color: #0004;
	--card-color: #e0e0e8;
	--card-shadow: transparent;
}

body[data-theme='dark'] {
	--bg-color: #121216;
	--secondary-bg-color: #262626;
	--text-color: #fff;
	--secondary-text-color: #999;
	--outline-color: #aaa;
	--secondary-outline-color: #444;
	--accent-color: #f0dd4a;
	--heading-color: #87ceeb;
	--button-color: #375886;
	--button-text-color: #fff;
	--success-color: #31cd31;
	--error-color: #ed3e2b;
	--shadow-color: #000a;
	--card-color: #000008;
	--card-shadow: #ffffff06;
}

body {
	font-family:
		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
		Geneva, Verdana, sans-serif;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

@media (prefers-reduced-motion: no-preference) {
	body,
	html {
		scroll-behavior: smooth;
	}
}

p {
	margin-block: 1rem;
}

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--outline-color);
}

a:focus-visible {
	outline: 1px solid var(--text-color);
	outline-offset: 2px;
}

a.accent,
a:active {
	color: var(--accent-color);
	text-decoration-color: currentColor;
}

strong {
	font-weight: 600;
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-weight: 500;
	color: var(--heading-color);
	font-family: 'DM Mono', monospace;
}

h2 {
	font-size: 1.875rem;
	margin-block: 0.5rem 1rem;
}

h3 {
	font-size: 1.45rem;
	margin-block: 2rem 1rem;
}

.hint {
	color: var(--secondary-text-color);
	font-size: 1rem;
}

ul {
	padding-left: 1.5rem;
}

ul li::marker {
	color: var(--secondary-text-color);
}

button,
input,
select {
	font: inherit;
	background: none;
	border: none;
	color: inherit;
}

input[type='text'],
input[type='search'],
select {
	padding: 0.25rem 0.75rem;
	border-radius: 0.4rem;
	outline: none;
	border: 1px solid var(--outline-color);

	&:focus-visible {
		border-color: var(--text-color);
		background-color: var(--secondary-bg-color);
	}

	&[aria-invalid='true'] {
		border-color: var(--error-color);
	}
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
}

input[type='search']::-ms-clear {
	display: none;
}

button:not(:disabled) {
	cursor: pointer;
}

button:disabled {
	opacity: 0.75;
}

button:focus-visible {
	outline: 1px solid var(--text-color);
	outline-offset: 2px;
}

.button {
	font-size: 1rem;
	border-radius: 0.25rem;
	padding: 0.2rem 0.8rem;
	color: var(--button-text-color);
	background-color: var(--button-color);
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	white-space: nowrap;
}

summary {
	cursor: pointer;
	width: fit-content;

	&:focus-visible {
		outline: 1px solid var(--text-color);
		outline-offset: 2px;
	}
}

dialog {
	font: inherit;
	color: inherit;
	background: none;
	outline: none;
	border: none;
	width: 100%;
}

body:has(#nav_dialog[open]) {
	overflow: hidden;
}
