:root {
	--bg-color: #fff;
	--secondary-bg-color: #eee;
	--text-color: #111;
	--secondary-text-color: #666;
	--outline-color: #666;
	--accent-color: #3388ad;
	--heading-color: #3f76b6;
	--positive-color: #199819;
	--negative-color: #c13a1e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #121216;
		--secondary-bg-color: #262626;
		--text-color: #fff;
		--secondary-text-color: #999;
		--outline-color: #aaa;
		--accent-color: #f0dd4a;
		--heading-color: #87ceeb;
		--positive-color: #077a07;
		--negative-color: #bc2727;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding-inline: 0.75rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.125rem;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--outline-color);
}

a:active {
	color: var(--accent-color);
}

a:focus-visible,
mjx-container:focus-visible {
	outline: 1px solid var(--text-color);
	outline-offset: 2px;
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-weight: 500;
	color: var(--heading-color);
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.45rem;
}

.hint {
	color: var(--secondary-text-color);
	font-size: 1rem;
}

button,
input {
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0.4rem 0.8rem;
	border-radius: 0.25rem;
}

button:focus-visible {
	outline: 1px solid var(--text-color);
	outline-offset: 2px;
}

input[type='text'] {
	outline: none;
	border: 1px solid var(--outline-color);
}

input[type='text']:focus-visible {
	border-color: var(--text-color);
	background-color: var(--secondary-bg-color);
}

button {
	cursor: pointer;
}
